*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box; 
}
html{
  scroll-behavior: smooth;
}
body{
  background-color: #080808;
  color: #fff;
}
#header{
  width: 100%;
  height: 100vh;
  background-image: url(1.png);
  background-size: cover;
  background-position: center;
}
.container{
  padding:10px 10%;
}
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.logo{
  width:160px;
  height: 60px;
}
nav ul li{
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
  justify-content: left;
}
nav ul li a{
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  position: relative;
}
nav ul li a::after{
  content: '';
  width: 0;
  height:3px;
  background: #13acc4;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}
nav ul li a:hover::after{
  width:100%;
}
.head-text{
  margin-top: 20%;
  font-size: 20px;
}
.head-text h1{
  font-size: 60px;
  margin-top: 20px;
}
.head-text h1 span{
  color:#13acc4;
}
#about{
  padding: 80px 0;
}
.row{
  display: flex;
  justify-content: space-between;
  flex-wrap:wrap ;
}
.about-col-1{
  flex-basis:35%;
}
.about-col-1 img{
  width:100%;
  border-radius: 15px;
}
.about-col-2{
  flex-basis: 60%;
}
.sub{
  font-weight: 600;
  color: #fff;
  padding-bottom: 5px;
}
.intro{
  color: #797777;
}
.tab-titles{
  display: flex;
  margin: 20px 0 40px;
}
.tab-links{
  margin-right: 50px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
}
.tab-links::after{
  content: '';
  width: 0;
  height:3px;
  background: #13acc4;
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.5s;
}
.tab-links.active-link::after{
  width: 50%;
  
}
.tab-contents ul li{
  list-style: none;
  margin: 10px 0;
}
.tab-contents ul li span{
  color: #13acc4;
font-size: 16px;
margin-top: 20px;
}
.tab-contents{
  display: none;
  color: #9c9c9c;
  margin-top: 10px;
}
.tab-contents.active-tab{
  display: block;
}
#portfolio{
  padding: 50px 0;
}
.work-list{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}
.work{
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}
.work img{
  width: 100%;
  border-radius: 10px;
  display: block;
  transition: transform 0.5s;
}
.layer{
  width: 100%;
  height: 0;
  background: linear-gradient(rgba(0,0,0,0.6),#13acc4);
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  transition: height 0.5s;
  font-size: 14px;
}
.layer h3{
  font-weight: 500;
  margin-bottom: 20px;
}
.work:hover img{
  transform: scale(1.1);
}
.work:hover .layer{
  height: 100%;
 
}
.contact-left{
  flex-basis: 35%;
}
.contact-right{
  flex-basis: 60%;
}
.contact-left p{
  margin-top:50px ;
}
.contact-left p i{
color:#13acc4;
margin-right: 15px;
font-size: 25px;
}
.social-icons{
  margin-top: 30px;
}
.social-icons a{
  text-decoration: none;
  font-size: 30px;
  margin-right: 15px;
  color: #ababab;
  display: inline-block;
  transition: transform 0.5s;
}
.social-icons a:hover{
  color: #13acc4;
  transform: translateY(-5px);
}

.btn.btn2{
  display: inline-block;
  background: #13acc4;
  margin: 50px auto;
  width: fit-content;
  border: 1px solid #13acc4;
  padding: 14px 50px;
  border-radius: 6px;
  text-decoration: none;
  color: white;
  transition: background 0.5s;
}
.btn.btn2:hover{
  background: black;
}
.contact-right form{
  width: 100%;
}
form input, form textarea{
  width: 100%;
  border: 0;
  outline: none;
  background: rgb(148, 147, 147);
  padding: 15px;
  margin: 15px 0;
  color: #fff;
  font-size: 15px;
  border-radius: 5px;
}
form.btn2{
  padding: 14px 60px;
  font-size: px;
  cursor: pointer;
}
#msg{
  color: #f4f7f3;
  margin-top: -10px;
  display: block;
  margin-bottom: 50px;
}